{% extends "layout.html" %}

{% block title %}{{data.title}}{% endblock %}

{% block body %}
    <h1>{{data.message}}</h1>

    <fieldset>
        <legend>Generar Abecedario</legend>
        <div>
            <label for="rdAbecedario26">26 letras:</label>
            <input type="radio" id="rdAbecedario26" name="rdAbecedario" checked>
            <label for="rdAbecedario27">27 letras:</label>
            <input type="radio" id="rdAbecedario27" name="rdAbecedario">
            <br><br>
            <label for="chkInverso">Inverso:</label>
            <input type="checkbox" id="chkInverso" name="chkInverso">
            <label for="chkAlfanumerico">Alfanumerico:</label>
            <input type="checkbox" id="chkAlfanumerico" name="chkAlfanumerico">
            <br><br>
            <label for="txtLetraInicial">Iniciar desde:</label>
            <input type="text" id="txtLetraInicial" name="txtLetraInicial">
            <label for="txtPalabraClave">Palabra clave:</label>
            <input type="text" id="txtPalabraClave" name="txtPalabraClave">
            <br><br>
            <button onclick="generar()">Generar Abecedario</button>
        </div>
    </fieldset>
    
    <p id="resultado"></p>

    <div>
        <table>
            <thead>
                <tr>
                    <th colspan="{{ data.abecedarioBase|length }}">ABECEDARIO ORIGINAL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for letra in data.abecedarioBase %}                
                        <td>{{ letra }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <br><br>
        <table id="tablaGenerada" style="display: none;">
            <thead>
                <tr>
                    <th id="tituloTabla"></th>
                </tr>
            </thead>
            <tbody>
                <tr id="filaAbecedario"></tr>
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function generar() {

            var letraInicial = document.getElementById("txtLetraInicial").value;
            var palabraClave = document.getElementById("txtPalabraClave").value;
            var inverso = document.getElementById("chkInverso").checked;
            var alfanumerico = document.getElementById("chkAlfanumerico").checked;
            var cantidad_letras = document.getElementById("rdAbecedario27").checked ? 27 : 26;

            fetch("/generar", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    letraInicial: letraInicial,
                    palabraClave: palabraClave,
                    inverso: inverso,
                    alfanumerico: alfanumerico,
                    cantidad_letras: cantidad_letras
                })
            })
            .then(response => response.json())
            .then(data => {
                //document.getElementById("resultado").innerText = data.abecedario_generado;

                // Actualizar la tabla con el abecedario generado
                var filaAbecedario = document.getElementById("filaAbecedario");
                filaAbecedario.innerHTML = "";

                var tituloTabla = document.getElementById("tituloTabla");
                if (data.abecedario_generado.length > 0) {
                    tituloTabla.colSpan = data.abecedario_generado.length;
                    tituloTabla.innerText = "ABECEDARIO GENERADO";
                    for (var i = 0; i < data.abecedario_generado.length; i++) {
                        var td = document.createElement("td");
                        td.innerText = data.abecedario_generado[i];
                        filaAbecedario.appendChild(td);
                    }

                    document.getElementById("tablaGenerada").style.display = "table";
                } else {
                    tituloTabla.innerText = "";
                }



            })
            .catch(error => {
                console.error("Error:", error);
                document.getElementById("resultado").innerText = "Error al generar el abecedario.";
            });
        }
    </script>    
{% endblock %}