{% extends "layout.html" %}

{% block title %}{{data.title}}{% endblock %}

{% block body %}
    <h1>{{data.message}}</h1>

    <fieldset class="grupo-cifrado">
        
        <div>
            <label>26 letras:</label>
            <input type="radio" id="rdAbecedario26" name="rdAbecedario" checked>
            <label>27 letras:</label>
            <input type="radio" id="rdAbecedario27" name="rdAbecedario">
            <br><br>
            <label>Inverso:</label>
            <input type="checkbox" id="chkInverso" name="chkInverso">
            <label>Alfanumerico:</label>
            <input type="checkbox" id="chkAlfanumerico" name="chkAlfanumerico">
            <br><br>
            <label>Iniciar desde:</label>
            <input type="text" id="txtLetraInicial" name="txtLetraInicial">
            <label>Palabra clave:</label>
            <input type="text" id="txtPalabraClave" name="txtPalabraClave">
            <br><br>
            <button onclick="generar()">Generar Abecedario</button>
        </div>
    </fieldset>
    
    <p id="resultado"></p>

    <div>
        <table>
            <thead>
                <tr>
                    <th colspan="{{ data.abecedarioBase|length }}">ABECEDARIO ORIGINAL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for letra in data.abecedarioBase %}                
                        <td>{{ letra }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <table id="tablaGenerada" style="display: none;">
            <thead>
                <tr>
                    <th id="tituloTabla"></th>
                </tr>
            </thead>
            <tbody>
                <tr id="filaAbecedario">
                </tr>
            </tbody>
        </table>
    </div>

    <div id="divVariables" style="display: none;">
        <input type="text" id="txtTrasposicion" name="txtTrasposicion">
        <button onclick="generarTrasposicion()">Trasposicion</button>
        <input type="text" id="txtTrama" name="txtTrama">
        <button onclick="generarTrama()">Trama</button>
        <input type="text" id="txtClaveNumerica" name="txtClaveNumerica">
        <button onclick="generarClaveNumerica()">Clave Numerica</button>
    </div>

    <div>
        <table id="tablaTrasposicion" style="display: none;">
            <thead>
                <tr>
                    <th id="tituloTablaTrasposicion"></th>
                </tr>
            </thead>
            <tbody>
                <tr id="filaTablaTrasposicion"></tr>
            </tbody>
        </table>
    </div>

    <div>
        <table id="tablaTrama" style="display: none;">
            <thead>
                <tr>
                    <th id="tituloTablaTrama"></th>
                </tr>
            </thead>
            <tbody>
                <tr id="filaTablaTrama"></tr>
            </tbody>
        </table>
    </div>

    <div>
        <table id="tablaClaveNumericaExplicativa" style="display: none;">
            <thead>
                
            </thead>
            <tbody>
                
            </tbody>
        </table>
        <table id="tablaClaveNumerica" style="display: none;">
            <thead>
                <tr>
                    <th id="tituloTablaClaveNumerica"></th>
                </tr>
            </thead>
            <tbody>
                <tr id="filaTablaClaveNumerica"></tr>
            </tbody>
        </table>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        let abecedarioBase;

        function generar() {

            var letraInicial = document.getElementById("txtLetraInicial").value;
            var palabraClave = document.getElementById("txtPalabraClave").value;
            var inverso = document.getElementById("chkInverso").checked;
            var alfanumerico = document.getElementById("chkAlfanumerico").checked;
            var cantidad_letras = document.getElementById("rdAbecedario27").checked ? 27 : 26;

            fetch("/generar", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    letraInicial: letraInicial,
                    palabraClave: palabraClave,
                    inverso: inverso,
                    alfanumerico: alfanumerico,
                    cantidad_letras: cantidad_letras
                })
            })
            .then(response => response.json())
            .then(data => {

                abecedarioBase = data.abecedario_generado;

                // Actualizar la tabla con el abecedario generado
                var filaAbecedario = document.getElementById("filaAbecedario");
                filaAbecedario.innerHTML = "";

                var tituloTabla = document.getElementById("tituloTabla");
                if (data.abecedario_generado.length > 0) {
                    tituloTabla.colSpan = data.abecedario_generado.length;
                    tituloTabla.innerText = "ABECEDARIO GENERADO";
                    for (var i = 0; i < data.abecedario_generado.length; i++) {
                        var td = document.createElement("td");
                        td.innerText = data.abecedario_generado[i];
                        filaAbecedario.appendChild(td);
                    }

                    document.getElementById("tablaGenerada").style.display = "table";
                    document.getElementById("divVariables").style.display = "inline";
                } else {
                    tituloTabla.innerText = "No se generó ningún abecedario";
                }
            })
            .catch(error => {
                console.error("Error:", error);
                document.getElementById("resultado").innerText = "Error al generar el abecedario.";
            });
        }

        function generarTrasposicion() {
            var trasposicion = document.getElementById("txtTrasposicion").value;

            fetch("/generarTrasposicion", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    trasposicion: trasposicion,
                    abecedario: abecedarioBase
                })
            })
            .then(response => response.json())
            .then(data => {
                // Actualizar la tabla con el abecedario generado
                var filaAbecedario = document.getElementById("filaTablaTrasposicion");
                filaAbecedario.innerHTML = "";

                const tablaGenerada = document.getElementById("tablaGenerada");
                const nuevaFila = tablaGenerada.insertRow();

                var tituloTabla = document.getElementById("tituloTablaTrasposicion");
                if (data.abecedario_generado.length > 0) {
                    tituloTabla.colSpan = data.abecedario_generado.length;
                    tituloTabla.innerText = "ABECEDARIO TRASPOSICION GENERADO";
                    for (var i = 0; i < data.abecedario_generado.length; i++) {
                        var td = document.createElement("td");
                        td.innerText = data.abecedario_generado[i];
                        filaAbecedario.appendChild(td);

                        if(tablaGenerada.rows.length <= 4){
                            const celda = nuevaFila.insertCell();
                            celda.innerText = data.abecedario_explicativo[i].id;
                        }                        
                    }

                    document.getElementById("tablaTrasposicion").style.display = "table";
                } else {
                    tituloTabla.innerText = "No se generó ningún abecedario";
                }
            })
            .catch(error => {
                console.error("Error:", error);
                document.getElementById("resultado").innerText = "Error al generar la trasposición.";
            });
        }

        function generarTrama() {
            var trama = document.getElementById("txtTrama").value;

            fetch("/generarTrama", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    trama: trama,
                    abecedario: abecedarioBase
                })
            })
            .then(response => response.json())
            .then(data => {
                // Actualizar la tabla con el abecedario generado
                var filaAbecedario = document.getElementById("filaTablaTrama");
                filaAbecedario.innerHTML = "";

                const tablaGenerada = document.getElementById("tablaGenerada");
                const nuevaFila = tablaGenerada.insertRow();

                var tituloTabla = document.getElementById("tituloTablaTrama");
                if (data.abecedario_generado.length > 0) {
                    tituloTabla.colSpan = data.abecedario_generado.length;
                    tituloTabla.innerText = "ABECEDARIO TRAMA GENERADO";
                    for (var i = 0; i < data.abecedario_generado.length; i++) {
                        var td = document.createElement("td");
                        td.innerText = data.abecedario_generado[i].trama;
                        filaAbecedario.appendChild(td);

                        if(tablaGenerada.rows.length <= 4){
                            const celda = nuevaFila.insertCell();
                            celda.innerText = data.abecedario_explicativo[i].id;
                        }                        
                    }

                    document.getElementById("tablaTrama").style.display = "table";
                } else {
                    tituloTabla.innerText = "No se generó ningún abecedario";
                }
            })
            .catch(error => {
                console.error("Error:", error);
                document.getElementById("resultado").innerText = "Error al generar la trama.";
            });
        }

        function generarClaveNumerica() {
            var claveNumerica = document.getElementById("txtClaveNumerica").value;

            fetch("/generarClaveNumerica", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    claveNumerica: claveNumerica,
                    abecedario: abecedarioBase
                })
            })
            .then(response => response.json())
            .then(data => {
                // Actualizar la tabla con el abecedario generado
                var filaAbecedario = document.getElementById("filaTablaClaveNumerica");
                filaAbecedario.innerHTML = "";

                var tituloTabla = document.getElementById("tituloTablaClaveNumerica");
                if (data.abecedario_generado.length > 0) {
                    tituloTabla.colSpan = data.abecedario_generado.length;
                    tituloTabla.innerText = "ABECEDARIO CLAVE NUMERICA GENERADO";
                    for (var i = 0; i < data.abecedario_generado.length; i++) {
                        var td = document.createElement("td");
                        td.innerText = data.abecedario_generado[i];
                        filaAbecedario.appendChild(td);
                    }

                    document.getElementById("tablaClaveNumerica").style.display = "table";
                } else {
                    tituloTabla.innerText = "No se generó ningún abecedario";
                }

                mostrarTabla(data.columnas, data.abecedario_explicativo)
                document.getElementById("tablaClaveNumericaExplicativa").style.display = "table";
            })
            .catch(error => {
                console.error("Error:", error);
                document.getElementById("resultado").innerText = "Error al generar la trama.";
            });
        }

        function mostrarTabla(columnas, tabla){
            const tablaHTML = document.getElementById("tablaClaveNumericaExplicativa");
            const thead = tablaHTML.querySelector("thead");
            const tbody = tablaHTML.querySelector("tbody");

            thead.innerHTML = "";
            tbody.innerHTML = "";

            const filaEncabezado = document.createElement("tr");

            columnas.forEach(numero => {
                const th = document.createElement("th");

                th.textContent = numero;

                filaEncabezado.appendChild(th);
            });

            thead.appendChild(filaEncabezado);

            tabla.forEach(fila => {
                const tr = document.createElement("tr");

                fila.forEach(letra => {
                    const td = document.createElement("td");

                    td.textContent = letra;

                    tr.appendChild(td);
                });

                tbody.appendChild(tr);
            });

        }
    </script>    
{% endblock %}