{% extends "layout.html" %}

{% block title %}{{data.title}}{% endblock %}

{% block body %}
    <h1>{{data.message}}</h1>

    <fieldset class="grupo-cifrado">
        <legend>Parametros</legend>

        <div class="fieldset-grid">
            <div class="form-group">
                <label>26 letras:</label>
                <input type="radio" id="rdAbecedario26" name="rdAbecedario" checked>
            </div>
            <div class="form-group">
                <label>27 letras:</label>
                <input type="radio" id="rdAbecedario27" name="rdAbecedario">
            </div>
            <div class="form-group">
                <label>Inverso:</label>
                <input type="checkbox" id="chkInverso" name="chkInverso">
            </div>
            <div class="form-group">
                <label>Alfanumerico:</label>
                <input type="checkbox" id="chkAlfanumerico" name="chkAlfanumerico">
            </div>
            <div class="form-group">
                <label>Iniciar desde:</label>
                <input type="text" id="txtLetraInicial" name="txtLetraInicial">
            </div>
            <div class="form-group">
                <label>Palabra clave:</label>
                <input type="text" id="txtPalabraClave" name="txtPalabraClave">
            </div>
            <div class="form-group full-width">
                <button onclick="generar()">Generar Abecedario</button>
            </div>            
        </div>
    </fieldset>

    <p id="resultado"></p>

    <div>
        <table>
            <thead>
                <tr>
                    <th colspan="{{ data.abecedarioBase|length }}">ABECEDARIO ORIGINAL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for letra in data.abecedarioBase %}                
                        <td>{{ letra }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>   

    <div>
        <table id="tablaAbecedario" style="display: none;">
            <thead>
                <tr>
                    <th id="tituloAbecedario"></th>
                </tr>
            </thead>
            <tbody>
                <tr id="filaAbecedario">
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <input type="text" style="width: 100%; max-width: 600px;">
        <button>Generar Trasposicion</button>
    </div>

    <div id="divVariables" style="display: none;">
        <input type="text" id="txtTrasposicion" name="txtTrasposicion">
        <button onclick="generarTrasposicion()">Trasposicion</button>
        <input type="text" id="txtTrama" name="txtTrama">
        <button onclick="generarTrama()">Trama</button>
        <input type="text" id="txtClaveNumerica" name="txtClaveNumerica">
        <button onclick="generarClaveNumerica()">Clave Numerica</button>
    </div>

    <div>
        <table id="tablaGenerada" style="display: none;">
            <thead>
                <tr>
                    <th id="tituloTablaGenerada"></th>
                </tr>
            </thead>
            <tbody>
                <tr id="filaTablaGenerada"></tr>
            </tbody>
        </table>
    </div>

    <div>
        <table id="tablaTrasposicion" style="display: none;">
            <thead>
                <tr>
                    <th id="tituloTablaTrasposicion"></th>
                </tr>
            </thead>
            <tbody>
                <tr id="filaTablaTrasposicion"></tr>
            </tbody>
        </table>
    </div>

    <div>
        <table id="tablaTrama" style="display: none;">
            <thead>
                <tr>
                    <th id="tituloTablaTrama"></th>
                </tr>
            </thead>
            <tbody>
                <tr id="filaTablaTrama"></tr>
            </tbody>
        </table>
    </div>

    <div>
        <table id="tablaClaveNumericaExplicativa" style="display: none;">
            <thead>
                
            </thead>
            <tbody>
                
            </tbody>
        </table>
        <br>
        <table id="tablaClaveNumerica" style="display: none;">
            <thead>
                <tr>
                    <th id="tituloTablaClaveNumerica"></th>
                </tr>
            </thead>
            <tbody>
                <tr id="filaTablaClaveNumerica"></tr>
            </tbody>
        </table>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        
    </script>    
{% endblock %}